@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-gray:#eeeeee;
    --main-font: "Poppins", sans-serif;
    --color-light-gray:#f5f5f5;
    --text-dark:#4c4c4c;
    --text-blue:#7e9ac6;
    --text-gray:#b8b8b8;
}
main{
    width: 100%;
    height: 100vh;
    display: grid; 
    place-items: center;
    background-color: var(--bg-gray);

    & article{
        width: 60%;
        height: 85%;

        & #sec1 , #sec2{
            width: 100%;
            height: 25%;
            display: flex;
        }

        & #sec1{
            gap: 20px;
            padding-bottom: 10px;
            & #div1{
                width: 79.6%;
                height: 100%;
                background-color: white;
                border-radius: 30px;
                padding-top: 15px;

                & #s-top{
                    display: flex;
                    width: 100%;
                    height: 20%;
                    padding: 0 30px;

                    & #d1{
                        width: 80%;
                        height: 100%;
                        display: flex;

                        & #a1{
                            width: 8%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            & img{
                                aspect-ratio: 1/1;
                                width: 45px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }

                        & #a2{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            & a{
                                font-family: var(--main-font);
                                text-decoration: none;
                                color: var(--text-dark);
                                font-size: 11px;
                            }

                            & p{
                                font-family: var(--main-font);
                                color: var(--text-gray);
                                font-size: 10px;
                            }

                        }

                        & #a3{
                            display: flex;
                            align-items: center;
                            & p{
                                font-family: var(--main-font);
                                color: var(--text-gray);
                                font-size: 10px;
                                margin-bottom: 15px;
                            }
                        }

                        & #a2 , #a3 {
                            width: calc(40% / 2);
                            height: 100%;
                        }
                    }
                    & #d2{
                        width: 20%;
                        height: 100%;
                         & ul{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            list-style: none;
                            align-items: center;
                            justify-content: end;
                            gap: 10px;
                            & li{
                                 
                                & a{
                                    color: var(--text-dark);
                                }

                                & #trash{
                                    color: #fc8484;
                                }
                            }
                         }
                    }
                }

                & #s-mid{
                    width: 100%;
                    height: 45%;    
                    padding: 20px 80px 0 30px;
                    & p{
                        font-family: var(--main-font);
                        font-size: 14px;
                        color: var(--text-dark);

                    }
                }

                & #s-bot{
                    width: 100%;
                    height: 35%;
                    border-top: 1px solid var(--text-gray);
                    display: flex;

                    & #d-left {
                        width: 50%;
                        height: 100%;

                        & input{
                            width: 100%;
                            height: 100%;
                            border: none;
                            outline: none;
                            font-family: var(--main-font);
                            padding: 0 0 0 30px;
                            background-color: transparent;
                        }
                    }
                    & #d-right {
                        width: 50%;
                        height: 100%;
                        display: flex; 
                        justify-content: end;
                        align-items: center;
                        padding-right:30px;
                        & ul{
                            list-style-type: none;
                            width: 55%;
                            height: 55%;
                            display: flex;
                            border-radius: 25px;
                            align-items: center;
                            background-color: #f4f3f3;
                            justify-content: space-evenly;
                            & li{

                                & a{
                                    text-decoration: none;
                                    color: white;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            } 
            & #div2{
                width: 20.4%;
                height: 100%;
                background-color: white;
                border-radius: 30px;
                padding: 20px;

                & #s1 , #s2 , #s3 , #s4{
                    width: 100%;
                    height: 25%;
                }

                & #s1{
                    line-height: 15px;
                    & h5{
                        font-family: var(--main-font);
                        font-size: 15px;
                        font-weight: 500;
                    }
                    & p{
                        font-family: var(--main-font);
                        font-size: 12px;
                        color: var(--text-gray);
                    }
                }
                & #s2{
                     
                    & .box{
                        width: 100%;
                        height: 80%;
                        background-color: var(--bg-gray);
                        display: flex;
                        border-radius: 8px;
                        & .box-left{
                            width: 50%;
                            height: 100%;
                            padding: 2px;
                            & p{
                                font-family: var(--main-font);
                                font-size: 12px;
                                background-color: white;
                                border-radius: 8px;
                                width: 100%;
                                height: 100%;
                                display: grid;
                                place-items: center;
                            }
                        }

                        & .box-right{
                            font-family: var(--main-font);
                            display: grid; 
                            place-items: center;
                            width: 50%;
                            height: 100%;
                            font-size: 12px;
                        }
                    }
                }

                & #s3{
                    line-height: 15px;
                    & h6{
                        font-family: var(--main-font);
                        font-weight: 500;

                    }

                    & p{
                        font-family: var(--main-font);
                        font-size: 12px;
                        color: var(--text-gray);
                    }
                }

                & #s4{
                    line-height: 15px;
                    & h6{
                        font-family: var(--main-font);
                        font-weight: 500;

                    }

                    & p{
                        font-family: var(--main-font);
                        font-size: 12px;
                        color: var(--text-gray);
                    }
                }
            }
        }

        & #sec2{
            padding-top: 10px;
            padding-bottom: 10px;
            gap: 20px;
            & #div3 , #div5{
                width: 20.4%;
                height: 100%;
                background-color: white;
                border-radius: 30px;

            }

            & #div3{
                padding-top: 20px;
                & .s1 , .s2 , .s3{
                    width: 100%;
                    height: calc(100% / 3);
                }

                & .s1{
                    display: flex; 
                    justify-content: center;
                    gap: 10px;
                    align-items: end;
                    padding-bottom: 10px;
                    & img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        
                    }
                }
                & .s2{
                    display: flex; 
                    justify-content: center;
                    gap: 10px;
                    align-items: start;
                    & img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        
                    }
                }
                & .s3{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    line-height: 15px;
                    padding-top: 5px;
                    & p{
                        font-family: var(--main-font);
                        font-weight: 500;
                        font-size: 15px;
                    }

                    & #p-bottom{
                        font-size: 12px;
                        font-weight: 300;
                        color: var(--text-gray);
                    }
                }
            }

            &  #div4{
                width: calc(100% - 20.4% * 2);
                height: 100%;
                background-color: coral;
                border-radius: 30px;
            }
        }

        & #sec3{
            width: 100%;
            height: 50%;
            display: flex;
            padding-top: 10px;
            gap: 20px;

            & #div6{
                width: 45%;
                height: 100%;
                background-color: white;
                border-radius: 30px;

                & .s1{
                    width: 100%;
                    height: 25%;
                    border-bottom: 2px dashed var(--text-gray);

                    & .dv1{
                        width: 100%;
                        height: 40%;
                        font-family: var(--main-font);
                        display: flex;
                        align-items: center;
                        padding-left: 30px;
                    }
                    & .dv2{
                        width: 100%;
                        height: 60%;
                        display: flex;

                        & .left{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            position: relative;

                            & img, .circle{
                                position: absolute;
                                width: 35px;
                                height: 35px;
                                object-fit: cover;
                                border-radius: 50%;
                                border: 2px solid white;
                                background-color: var(--bg-gray);
                            }
                            & #img4{
                                left: 40%;
                                color: var(--text-dark);
                                font-family: var(--main-font);
                                font-size: 14px;
                                display: grid;
                                place-items: center;
                            }
                            & #img3{
                                left: 30%;
                            }
                            & #img2{
                                left: 20%;
                            }
                            & #img1{
                                left: 10%;
                            }
                        }
                        & .right{
                            width: 50%;
                            height: 100%;
                            display: flex; 
                            justify-content: center;
                            & div{
                                width: 70%;
                                height: 35px;
                                border-radius: 20px;
                                background-color: var(--bg-gray);
                                display: flex;
                                align-items: center;
                                & .sec1{
                                    width: 80%;
                                    height: 100%;
                                    display: flex;
                                    font-family: var(--main-font);
                                    align-items: center;
                                    justify-content: center;
                                    color: var(--text-gray);
                                    font-size: 14px;
                                }
                                
                                & .sec2{
                                    width: 30px;
                                    height: 30px;
                                    background-color: white;
                                    border-radius: 50%;
                                    display: grid;
                                    place-items: center;
                                }
                            }
                        }
                    }
                }

                & .s2{
                    width: 100%;
                    height: 75%;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    position: relative;
                    & .blur{
                        width: 475px;
                        bottom: 77px;
                        height: 40px;
                        background-color: rgba(255, 255, 255, 0.41);
                        backdrop-filter: blur(5px);
                        position: fixed;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }
                    & div{
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 20px;
                        & h5{
                            font-size: 15px;
                            font-family: var(--main-font);
                        }

                        & p{
                            font-family: var(--main-font);
                            color: var(--text-gray);
                        }
                    }
                    & article{
                        width: 100%;
                        height: 80px;
                        border-bottom: 2px solid var(--text-gray);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 20px;
                        & .add{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: var(--bg-gray);
                            color: var(--text-dark);
                            font-size: 20px;
                            font-weight: bold;
                            display: flex; 
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                        }
                        & .card{
                            width: 70%;
                            height: 100%;  
                            display: flex;
                            align-items: center;
                            
                            & img{
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border-radius: 50%;

                        }
                        & .text{
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            & h5{
                                font-size: 15px;

                            }
                            & p{
                                font-size: 12px;
                            }
                        } 

                        }
                    }
                }
            }

            & #div7{
                width: 55%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                & #div8{
                    width: 100%;
                    height: 50%;
                    background-color: bisque;
                    border-radius: 30px;
                }
                & #div9{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    gap: 20px;

                    & #div10{
                        width: 50%;
                        height: 100%;
                        background-color: red;
                        border-radius: 30px;
                    }
                    & #div11{
                        width: 50%;
                        height: 100%;
                        background-color: aliceblue;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}